@model IEnumerable<MvcApplication1.Models.DBModels.User>

@{
    ViewBag.Title = "UserActivation";
    Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
}

<h2>UserActivation</h2>

@if (ViewBag.updated != null)
{
    <h3>The user has been activated.</h3>
}

@using (Html.BeginForm())
{

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
    <table class="userActivationTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Password)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activated)
            </th>
            <th></th>
        </tr>

        
        @for (int i=0;i<Model.Count();i++)
        {
            @Html.HiddenFor(m=>m.ToList()[i].Id)
            <tr>
                <td>
                    @Html.TextBoxFor(m=>m.ToList()[i].UserName)
                </td>

                @Html.HiddenFor(m => m.ToList()[i].Password)

                <td>
                    @Html.TextBoxFor(m=> m.ToList()[i].FirstName)
                </td>
                <td>
                    @Html.TextBoxFor(m=> m.ToList()[i].LastName)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.ToList()[i].Email)
                </td>
                <td>
                    @Html.DropDownListFor(m=> m.ToList()[i].Activated, new SelectList(
           new List<object>
           {
               new {value=bool.TrueString,text="True"},
               new {value=bool.FalseString,text="False"},
           },
           "value",
           "text",
           Model.ToList()[i].Activated
           ), "--Select a Value--")

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ToList()[i].Id }) |
            @Html.ActionLink("Details", "Details", new { id = Model.ToList()[i].Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.ToList()[i].Id })
                </td>
            </tr>
        }

    </table>
    <input type="submit" class="myButton" value="Update" />
}
@Html.ActionLink("Back", "Index")