@model MvcApplication1.Models.ViewModels.GraduateModel

@{
    ViewBag.Title = "GraduateProfile";
}

<h2>GraduateProfile</h2>
<div>Logged in as -  @Model.UserName</div>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>GraduateModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudentId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StudentId)
            @Html.ValidationMessageFor(model => model.StudentId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KnownAs)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KnownAs)
            @Html.ValidationMessageFor(model => model.KnownAs)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VisaStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VisaStatus)
            @Html.ValidationMessageFor(model => model.VisaStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstLanguage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstLanguage)
            @Html.ValidationMessageFor(model => model.FirstLanguage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JobTypeId)
        </div>
        
        <div class="editor-field">
            @Html.DropDownListFor((m => m.JobTypeId), (SelectList)ViewBag.jt )
            @Html.ValidationMessageFor(model => model.JobTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Student Home", "Index")
</div>
