@model MvcApplication1.Models.ViewModels.Account
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>Welcome to student Home Page</h2>

@Html.Hidden("userName",(object)@ViewBag.userName)

<ul>
    @Html.ActionLink("Profile", "GraduateProfile", new {userName=@ViewBag.userName,submitTxt="Update" ,forRegistration="false" })
</ul>
@*<ul>
    @Html.ActionLink("Working experience", "ShowEditExperience", new {userName=Model.UserName })
</ul>*@
@*<ul>
    @Html.ActionLink("Academic Qualification", "AcademicQualification", new {userName=Model.UserName })
</ul>*@
@*<ul>
    @Html.ActionLink("Vendor Qualification", "ShowVendorQualification", new {userName=Model.UserName })
</ul>*@
@*<ul>
    @Html.ActionLink("Soft Skills", "ShowSoftskill", new {userName=Model.UserName })
</ul>*@
@*<ul>
    @Html.ActionLink("CV", "cv", new { userName = Model.UserName })
</ul>*@
<ul>
    @Html.ActionLink("Invitation & Cover Letter", "CoverLetter", new {userName=@ViewBag.userName })
</ul>

<h2>Useful Information</h2>


@Html.Action("ShowNews", new { userName = @ViewBag.userName })
