@model MvcApplication1.Models.ViewModels.Account
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>Welcome to student Home Page</h2>

<ul>
    @Html.ActionLink("Profile", "GraduateProfile")
</ul>
<ul>
    @Html.ActionLink("Working experience", "ShowEditExperience")
</ul>
<ul>
    @Html.ActionLink("Academic Qualification", "AcademicQualification")
</ul>
<ul>
    @Html.ActionLink("Vendor Qualification", "ShowVendorQualification")
</ul>
<ul>
    @Html.ActionLink("Soft Skills", "ShowSoftskill")
</ul>
<ul>
    @Html.ActionLink("CV", "cv")
</ul>
<ul>
    @Html.ActionLink("Invitation & Cover Letter", "CoverLetter")
</ul>

<h2>Useful Information</h2>

<h3>Looking for a job?</h3>
<h5>Free online tutorials to help you improve your resume & job search!</h5>