@model MvcApplication1.Models.ViewModels.Account
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>Welcome to student Home Page</h2>

<ul>
    @Html.ActionLink("View & Edit profile", "GraduateProfile")
</ul>
<ul>
    @Html.ActionLink("View & Edit working experience", "ShowEditExperience")
</ul>
<ul>
    @Html.ActionLink("View & Edit Academic Qualification", "AcademicQualification")
</ul>
<ul>
    @Html.ActionLink("View & Edit Vendor Qualification", "ShowVendorQualification")
</ul>
<ul>
    @Html.ActionLink("View & Edit Soft Skills", "ShowSoftskill")
</ul>
<ul>
    @Html.ActionLink("View & Edit CV", "cv")
</ul>
<ul>
    @Html.ActionLink("View & Edit Cover Letter", "CoverLetter")
</ul>

