@model  IEnumerable<MvcApplication1.Models.DBModels.WorkingExprience>
@{
    ViewBag.Title = "ShowEditExperience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@Model.Any())
{
    <h2>Work Experience</h2>       
    <table>
        <thead>
            <tr>
                <th>Job Title</th>
                <th>Company</th>
                <th>Start</th>
                <th>Finish</th>
                <th>Role Description</th>
            </tr>
        </thead>
    @foreach (MvcApplication1.Models.DBModels.WorkingExprience ep in Model)
    {
        <tr>
            <td>@ep.JobTitle</td>
            <td>@ep.Company</td>
            <td>@ep.Start</td>
            <td>@ep.Finish</td>
            <td>@ep.RoleDescription</td>
            <td>@Html.ActionLink("Edit", "EditExperience", new { id = @ep.Id })</td>
            <td>@Html.ActionLink("Delete", "DeleteExperience", new { id = @ep.Id })</td>
        </tr>
    }
</table>
}
else
{
    <h2>There is no working experience yet</h2>
}
<button class="showDiv myButton">Add New Work Experience</button>
@Html.Action("CreateExperience")
@Html.ActionLink("Back", "Index")
