@model IEnumerable<MvcApplication1.Models.DBModels.VdQualification>

@{
    ViewBag.Title = "Vendor Qualification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vendor Qualification</h2>
@if (Model.Any())
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date Completed</th>
                <th>Experience Level</th>
                <th>Ability Level</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vdq in Model)
            {
                <tr>
                    <td>
                        @vdq.Name
                    </td>
                    <td>
                        @vdq.DateCompleted
                    </td>
                    <td>
                        @vdq.ExperienceId
                    </td>
                    <td>
                        @vdq.AbilityId
                    </td>
                    <td>
                        @vdq.CompetencyId
                    </td>
                </tr>
            }

        </tbody>
    </table>
    
}
else
{
    <h3>There is no Vendor Qualification under your account yet.</h3>
}
<button class="showDiv myButton">Add New Vendor Qualification</button>
@Html.Action("CreateVdQualification")
@Html.ActionLink("Back", "Index")
