@model IEnumerable<MvcApplication1.Models.DBModels.StudentSoftskillLevel>

@{
    ViewBag.Title = "ShowSoftskill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowSoftskill</h2>
@Html.Hidden("userName", (object)ViewBag.userName)

@if (Model != null && Model.Any())
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ssl in Model)
            {
                <tr>
                    <td>@ssl.SoftSkill.Name</td>
                    <td>@ssl.SoftSkillLevel.Name</td>
                    <td>@Html.ActionLink("Delete", "DeleteStudentSoftskill", ssl)</td>
                </tr>
            }

        </tbody>
    </table>
}

<button class="showDiv myButton">Add/Edit Soft skills</button>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
@Html.Action("AddSoftskill", new { userName = ViewBag.userName })
@*<button class="myButton">Complete my Registration</button>*@
<input type="button" value="Complete my Registration" class="myButton" onclick="location.href='@Url.Action("RegistrationCompleted", "Graduate", new { userName = ViewBag.userName })'" />

