@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutEmployer.cshtml";
}

<h2>Welcome to Site Supervisor's home page</h2>

<ul>
    @Html.ActionLink("Activate Jobs", "JobActivation")
</ul>
<ul>
    @Html.ActionLink("Activate Users", "UserActivation")
</ul>
<ul>
    @Html.ActionLink("Candidates", "Candidate")
</ul>
<ul>
    @Html.ActionLink("Employers", "Employer")
</ul>
<ul>
    @Html.ActionLink("Match & Find", "Employer")
</ul>
<ul>
    @Html.ActionLink("News Publication", "ShowNews")
</ul>
