@model MvcApplication1.Models.ViewModels.Account
@{
    ViewBag.Title = "Student Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student Login</h2>
@using (Html.BeginForm())
{
    <ul>
        <li>
            @Html.LabelFor(c=>c.UserName)
            @Html.TextBoxFor(c=>c.UserName)
        </li>
        <li>
            @Html.LabelFor(c=>c.Password)
            @Html.PasswordFor(c=>c.Password)
            @Html.ActionLink("I forget my password","ForgetPassword","Account")
        </li>
    </ul>
    <input type="submit" value="Login" class="myButton"/>
    @Html.ActionLink("Back","Index","Home")
}